<div>
  <h3>HEADER</h3>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
          <form (ngSubmit)="onSubmit()">
            <input type="submit" ngbButton [(ngModel)]="model.middle"  [ngModelOptions]="{standalone: true}"> Generar token
          </form>
        </label>
      </div>
    </div>
    <div *ngIf="loaded === true" class="col-12 col-md-8">
      <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" frameborder="0" width="700px" height="480px" allow="camera"></iframe>
    </div>
  </div>
</div>
<div>
  <h3>FOOTER</h3>
</div>